/* este archivo debe contener las reglas de estilo*/
body{
    background:#e0c8c8;
    margin: 40px;
}

header{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    margin: 10px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: #402e41;
    display: flex;
    justify-content: center
}

.listUl{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    width: auto;
    height: 130px;
}

.listLi{
    list-style: none;
    width: 100px;
    height: 50px;
    padding: 20px;
    margin: 10px;
}


textarea[name="user-input"]{
    border-width: 3px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 130px;
    margin: 10px;  
    margin: 10px 400px 10px;
}

#reset-button{
    font-family: 'Courier New', Courier, monospace;
    background-color: #92757a;
    border-width: 2px;
    height: 60px;
    width: 150px;;
    margin: 10px 530px 10px;
}