/* este archivo debe contener las reglas de estilo*/
body{
    background: #e0c8c8;
    margin: 50px;
}

head{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

h1{
    color: #402e41;
    display: flex;
    justify-content: center
}

li{
    display: inline-block;
    justify-content: center;
}

.ul{
    padding: 50px;
}

textarea[class~="textarea"]{
    display: flex;
    justify-content: center;
    margin: auto;
    border-width: 3px;
    width: 450px;
    height: 130px;
}

button#reset-button{
    background-color: #92757a;
    border-width: 2px;
    height: 60px;
    width: 150px;;
    margin: 30px 280px 30px;;
}